@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles for the light theme */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF; /* Default to white */
  color: #1a202c; /* Default dark text color */
}
