@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom base styles for a professional look and feel */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0F172A; /* Default background to match the game screen */
  color: #e2e8f0; /* Default text color */
}
